<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{url_for('static', filename= 'stylesheets/change_password.css')}}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>JobDoor</title>
</head>
<body>
  <nav>
    <div class="logo">
      <img src="{{url_for('static', filename = 'images/logo.png')}}"  alt="JobDoor Logo">
      <a href="/"><h1>JobDoor</h1></a>
    </div>
    <ul>
      <li><a href="/view_recruiter">View Profile</a></li>
      <li><a href="/edit_recruiter">Edit Profile</a></li>
      <li><a href="/change_password">Change Password</a></li>
      <li><a href="/job_page">Job Page</a></li>
      <li><a href="#">{{user_name}}</a></li>
      <li><a href="/sign_out">Sign Out</a></li>
    </ul>
  </nav>
  <br>
  <h1>Change Password</h1>
  <div>
  <form action="/change_password" method="post">
		<label for="old_password">Old Password:</label>
		<input type="password" id="old_password" name="old_password">

		<label for="new_password">New Password:</label>
		<input type="password" id="new_password" name="new_password">

		<label for="confirm_password">Confirm New Password:</label>
		<input type="password" id="confirm_password" name="confirm_password">

		<button type="submit">Change Password</button>
  </form>
    </div>
  <p>{{msg}}</p>
</body>
</html>