<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/signup.css')}}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<nav>
    <div class="logo">
      <img src= "{{url_for('static', filename = 'images/logo.png')}}" alt="JobDoor Logo">
      <a href="/"><h1>JobDoor</h1></a>
    </div>
    <ul>
      <li><a href="/about">About Us</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </nav>
<div class="form">
      <ul class="tab-group">
        <button class="button button-block" onclick="window.location.href = '/sign_up';" >Sign Up</button>
        <button class="button button-block" onclick="window.location.href = '/login';" >Log In</button>
      </ul>
      <div class="tab-content">
        <div id="signup" style="display: block;">
          <h1>Sign Up for Free</h1>
          <h2>Please select user category </h2>
          <form action="/sign_up" method="post">
          <div class="top-row">
          <div class="field-wrap">
              <group class="inline-radio">
                <div>
              <input class = "radio_btn" type="radio" id="candidate_signup" name="user_type" value="candidate" checked="checked">
              <label for="candidate_signup" class = "radio-labels"> Candidate </label>
                </div>
                <div>
              <input class = "radio_btn" type="radio" id="recruiter_signup" name="user_type" value="recruiter">
              <label for="recruiter_signup" class = "radio-labels" > Recruiter </label>
                </div>
              <br><br><br><br>
              </group>
            <input type="email" id = "email_signup" name = "email" placeholder="Email Address" required autocomplete="off"/>
          </div>
          <div class="field-wrap">
            <input type="password" id = "password_signup" name = "password" placeholder="Create Password" required autocomplete="off"/>
          </div>
            <div class="field-wrap">
            <select name = "hint_questions" id = "hint_questions" class = "hint_questions">
              <option value = "Who was your first crush ?">Who was your first crush ?</option>
              <option value = "What is your dream in one word ?">What is your dream in one word ?</option>
              <option value = "What is your favourite destination ?">What is your favourite destination ?</option>
              <option value = "What is your favourite drink ?">What is your favourite drink ?</option>
              <option value = "Who is your inspiration ?">Who is your inspiration ?</option>
            </select>
              </div>
            <div class="field-wrap">
            <input type="text" id = "hint_answer" name = "hint_answer" placeholder="Type Answer Of Hint Question Selected Above" required autocomplete="off"/>
          </div>
          <button type="submit" class="button button-block"/>Get Started</button>
          </div>
          </form>
        </div>
      </div><!-- tab-content -->
</div> <!-- /form -->
   <p>{{msg}}</p>
</body>
</html>